header {
  background: linear-gradient(135deg, #000, #333);
  color: #fff;
  text-align: center;
  padding: 2em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 100%;
  background-image: url('https://images4.alphacoders.com/683/thumb-1920-683744.jpg'); /* Remplace 'ton-image.png' par l'URL de ton image */
  background-size: 100px 80px; /* Ajuste la taille de l'imag   e */
  background-repeat: repeat;
  opacity: 0.5; /* Ajuste l'opacité pour un effet subtil */
  animation: movePattern 6s linear infinite;
}

@keyframes movePattern {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(20px) translateY(20px); }
  100% { transform: translateX(0) translateY(0); }
}



form {
  color: #000000;
  text-align: center;
  padding: 2em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  width: 40%;
  margin: 40px auto;
  border-radius: 8px;
}

h2 {
    font-family: "Gill Sans", sans-serif; 
    text-shadow: 5px 5px 2px rgb(233, 233, 239);
}


#menu {
    display: flex;
}

.button {
    flex-grow: 1;
    background-color: rgba(163, 163, 163, 0.24);
    padding: 20px 0 15px 0;
    margin: 0;
    transition: 1s;
    text-align: center;
    font-family: "Gill Sans", sans-serif; 
    font-size: 15px;

}

.button:hover {
    opacity: 0.5;
    flex-grow: 3;
    transition: 1s; 
}

body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  

  #container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  
  
  p {
  font-family: "Gill Sans", sans-serif; 
  line-height: 1.5;
  margin-bottom: 20px;
}
  

  footer {
    background-color: #5e5b5b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }

