<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/balance.css') }}" >
    <script src="{{ url_for('static', 'js/balance.js') }}"></script>
</head>
<body>   
<header> 
    <h1>New Balance</h1>
</header>
<div id="menu">
    <a href="index.html"class="button" style="color: black; text-decoration: none";><div class="btn_accueil">Accueils</div></a>
    <a href="Nike.html" class="button"style="color: black; text-decoration: none";><div class="btn_accueil">Nike </div></a>
    <a href="Balance.html" class="button" style="color: black; text-decoration: none";><div class="btn_accueil"><u>Newbalance</u></div></a>
  </div>

  <aside class="container">
        
    <aside class="sidebar">
        <h2>Filtres</h2>

        <div class="filtre-section">
            <h3>Taille</h3>
            <ul>
                <li><input onchange='S()'type="checkbox" id="taille-s" name="taille" value="S"><label for="taille-s">37-40</label></li>
                <li><input onchange='M()' type="checkbox" id="taille-m" name="taille" value="M"><label for="taille-m">41-44</label></li>
                <li><input onchange='L()' type="checkbox" id="taille-l" name="taille" value="L"><label for="taille-l">45-48</label></li>
            </ul>
        </div>

        
        <div class="filtre-section">
            <h3>Couleur</h3>
            <ul>
                <li><input onchange="blanc()" type="checkbox" id="couleur-blanc" name="couleur" value="blanc"><label for="couleur-blanc">Blanc</label></li>
                <li><input onchange="bleu()" type="checkbox" id="couleur-bleu" name="couleur" value="bleu"><label for="couleur-bleu">Bleu</label></li>
                <li><input onchange="noir()" type="checkbox" id="couleur-noir" name="couleur" value="noir"><label for="couleur-noir">Noir</label></li>
                <li><input onchange="marron()" type="checkbox" id="couleur-marron" name="couleur" value="marron"><label for="couleur-marron">Marron</label></li>
                <li><input onchange="beige()" type="checkbox" id="couleur-beige" name="couleur" value="beige"><label for="couleur-beige">Beige</label></li>
                
            </ul>
        </div>

        <div class="filtre-section">
            <p>Tranche de prix</p>
            <input id="entree" type="range" min="1" max="12" class="slider" oninput="glissiere()">
            <div id="tranche-prix"></div>
        </div>
    </aside>
    
<main class="main-content">
    <h1>Bienvenue sur notre site</h1>
    <p>Voici notre sélection de paire de New Balance :</p>
    <div id="block">

    </div>
    </main>
</div>
</body>
</html>