<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Accueil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/index.css') }}">
    <script src='test1.js'></script>
</head>
<body>              
    <header>
        <h1>SHOCK X</h1>
    </header>
  <nav>
    <div id="menu">
      <a href="index.html"class="button" style="color: black; text-decoration: none";><div class="btn_accueil"> <u>Accueil</u></div></a>
      <a href="Nike.html" class="button"style="color: black; text-decoration: none";><div class="btn_accueil"> Nike </div></a>
      <a href="Balance.html" class="button" style="color: black; text-decoration: none";><div class="btn_accueil"> Newbalance </div></a>
    </div>
  </nav>
<h2> Voici un texte présentant un site de présentation de chaussures :</h2>

<p id="container">Bienvenue sur SHOCK X, votre destination ultime pour découvrir les dernières tendances en matière de chaussures !<br>

Nous croyons que chaque pas compte et que les bonnes chaussures peuvent transformer votre journée. Notre site est conçu pour vous offrir une expérience de shopping en ligne exceptionnelle, mettant en vedette une vaste sélection de chaussures pour les jeunes intéressés de modes.<br>

Nous nous engageons à vous offrir un site efficace pour vous.Que vous soyez passionné de mode ou simplement à la recherche de chaussures confortables, SHOCK X est là pour vous aider à mettre votre meilleur pied en avant.</p>

<footer>Venez explorer notre collection et trouvez la paire parfaite qui vous accompagnera dans toutes vos aventures !
</footer>
</body>
</html>
